body{
    margin-top:0;
    height: 100%;
    background-image:url(beautiful-place.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size:cover;
    min-width:600px;
    
  

}
html{
    height: 100%;
}
section{
margin-top:50px;
min-height:100%;
width:84%;
background-color:white;
margin-left:7%;
}


footer{
    color:white;
    background-color:darkslategrey;
    
    min-width: 100%;
    height:130px;
    margin-top:-35px;
    padding-top:10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    
}

.OverFooterContent{
    padding-left: 50px;
}
#contact {
    font-size: 20px;
}
figcaption {
    color: dimgray;
    font-size: small;
}